<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contant.mapper">

<select id="contant_update">
	insert into contant(title, contant, category) values(#{title}, #{contant}, #{category});
</select>

<select id="contant_list" resultType="contant.ContantVO">
	select idx, title, category from contant;
</select>
<select id="contant_detail" resultType="contant.ContantVO">
	select idx, title, contant from contant where idx=#{idx};
</select>

<update id="add_paging_contant">
	insert into paging(title, contant) values('test', 'test');
</update>

<select id="paging_total" resultType="int">
	select count(*) from paging;
</select>

<select id="paging_contant_load" resultType="contant.ContantVO">
	SET @rownum:=#{num};
	select @rownum:=@rownum+1 idx, title, contant from paging limit #{num}, 5;
</select>
</mapper>
