<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="content.mapper">


	<insert id="content_form">
		insert into content(title, content, category) values(#{title}, #{content}, #{category});
	</insert>
	
	<select id="content_list" resultType="content.ContentVO">
		select title, content, category from content limit #{num}, 5;
	</select>
	
	<select id="content_total" resultType="int">
		select count(*) from content;
	</select>
	
	<select id="paging_table" resultType="content.ContentVO">
		select c.title, c.content, g.category_name from content c
		left join category g on c.category = g.category_no limit #{num}, #{amount};
	</select>
</mapper>
