	html,
	body
	{
	width:100%;
	height:100%;
	 margin: 0;
    padding: 0;
	}
	html, body{overflow:hidden;min-height: 100%;}
	.left{width:22%;height:95%;float:left;margin:0;padding:0;}
	.right{width:78%;}
	.wrap{width:100%;height:100%;padding:0;margin:0;padding-bottom:80px;display:flex;}
	.side-1{float:left;width:100%;height:100%; background-color:#F2F1F7; text-align:center;}
	.side-1 nav{position:relative; top:8%; width:320px; align:center;}
	.side-1 ul{vertical-align: middle; list-style: none;}
	.side-1 ul li{margin:12%; font-size:22px;}
	
	.main{float:left; width:100%;height:100%;padding-left:4%;background-color:yellow;position:relative;flex:1;z-index:-1;}
	
	.main_cont{height:100%; width:100%;background-color:transparent;}
	
	.sub_title{margin:0;padding-top:2%;color:#B7B7B7;}
	.section{padding-right:4%;width:94%;height:100%;}
	.container{margin-top:50px;width:100%;height:100%;}
	.container_contant{width:100%;height:400px;}
	.contant{background-color:black; width:150px; height:200px;float:left;margin-left:20px;margin-right:20px;margin-bottom:120px;}
	
	.title_img{background-color:white;border:solid 1px; width:100%;height:70%;}
	.title{color:white;font-size:22px;}
	
	.footer {
    width: 100%;
    height: 48px; /* footer의 높이 */
    position: absolute;  
    bottom: 0;
    left: 0;
    background-color:black;
    z-index:0;
}